


#kontakt h1 {
     margin:5% 0;
     font-size: 2em;
    text-align: center;
 }
#kontakt h2 {
    margin:5% 0;
    font-size: 1.5em;
    text-align: center;
    position: relative;

}
#kontakt  h3 {
    margin:3% 0;
    font-size: 1.2em;
    text-align: center;

}
#kontakt .btn {
    border-width: 1px;
    border: solid;
    background-color: rgba(148, 233, 255, 0.52);
    color: #414f61;
    transition: 0.35s;
}
#kontakt .btn:hover {
    transform: rotate(3deg);
    border:solid;
    background-color: rgb(59, 177, 203);
    color: #ffae00;
    transition:0.40s;
}




