


#kontakt h1 {
     margin:5% 0;
     font-size: 2em;
    text-align: center;
 }
#kontakt h2 {
    margin:5% 0;
    font-size: 1.5em;
    text-align: center;
    position: relative;

}
#kontakt  h3 {
    margin:3% 0;
    font-size: 1.2em;
    text-align: center;

}




