#linki{
    margin: 0% 0;
}

#linki h1 {
    margin:4% 0;
    font-size: 2em;
    text-align: center;
}
#linki h2 {
    margin:1% 0;
    font-size: 1.5em;
    text-align: center;
    position: relative;
}
#linki h3 {
    text-align: center;
}
#linki h4 {
    font-weight: normal;
    margin-bottom: 9%;
}

.link-title{
    margin: 0 1em;
}
.link-photo{
    background-size: cover;
    background-position: left;
}
.card-title{
    font-size: 1.75rem!important;
    font-weight: 700 !important;
    padding: 0 20%!important;
    width: 90%;
}
.card-description{
    font-size: 1.7rem!important;
    border-radius: 10px;
    padding-bottom: 3rem!important;
}
@media only screen and (max-width:560px) {
    .card-title{
        width:80%;
        font-size: 1.45rem!important;
        padding:0 10%!important;
    }
    .card-description{
        font-size: 1.2rem!important;
    }

}


 .break1{
     background-image: linear-gradient(to bottom right, rgba(235, 235, 231, 0.64), rgba(169, 182, 255, 0.62)) ,url("../images/logo-bg.png");
     color: rgba(0, 0, 0, 0.88);
     background-position: center;
     background-attachment: fixed;
     background-size: cover;
     padding: 1% 0px;
 }
.linkiV2{
    background: rgba(239, 240, 241, 0.9) !important;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    padding: 3% 0 6% 0;
}

#linki .card{
    transition: 0.5s;
    background-color: rgba(174, 178, 191, 0.73);
    filter: brightness(0.7);
}

#linki .card:hover {
    content: target-text(Serwis poświęcony aktualnościami ze świata biznesu);
    font-weight: bolder; !important;
    z-index: 2;
    filter: brightness(1);
    transition: 0.5s;
    border-width: 0.5px;
    border: solid;
    border-color: rgba(0, 92, 191, 0.73);

}

#linki .btn{
    display: flex;
    justify-content: center;
    margin-bottom: 1.5%;
    border:none;
    background-color: #4b83ad;
    color:#fff;
    border-radius: 30px !important;
    font-weight: 700 !important;
    position: relative;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all 0.9s ease 0s;
    z-index:1;
}
#linki .btn:hover{
    color: #23343d;
    background: #e2e3f1;
    transition:all 0.5s ease-out 0s;

}
