
.jumbotron{
    background: linear-gradient(to right, rgba(255, 172, 58, 0.53) 0%, rgb(255, 197, 109) 22%, rgb(254, 198, 103) 49%, rgba(255, 180, 98) 100%);
    padding: 0;
    width: 80%;
}

.card-jumbotron {
    margin:auto;
    max-width: 80% !important;
}

.check {
    height: auto;
    max-height: 2000px;
    position: relative;
}

.intro h1{
    font-size:3rem !important;
}
.title{
    padding-top:2rem!important;
    font-size: 1rem;
    z-index: 2;
}
.title h1{
    font-size: 2.8rem;
}
.title h2 {
    line-height: 1.5;
    font-size: 1.6rem;
    padding: 0.3em 0;
}
.title small{
    font-size: 100% !important;
}
.lead a{
    padding-left: 0;
}
@media only screen and (max-width:1500px) {
    .title{
        padding-top:2.7rem!important;
    }
    .title h1{
        font-size: 2.2rem;
    }
}
@media only screen and (max-width:1200px) {
    .title{
        padding-top:2.5rem!important;
    }
    .title h1{
        font-size: 2.2rem;
    }
}
@media only screen and (max-width:800px) {
    .title{
        padding-top:2rem!important;
    }
    .title h1{
        font-size: 2rem;
    }
}
@media only screen and (max-width:650px) {
    .title{
        padding-top:2.5rem!important;
    }
    .title h1{
        font-size: 1.6rem ;
    }
    .title h2{
        font-size: 0.9rem;
    }
}
@media only screen and (max-width:500px) {
    .title{
        padding-top:2.9rem!important;
    }
    .title h1{
        font-size: 1.3rem ;
    }
    .title h2{
        font-size: 0.75rem;
    }
}


.linia {
    height: 10px;
    width: 10%;
    border-bottom: 2px dotted black;
    position: relative;
    margin-bottom: 2% !important;
    margin-left: 3%;
}
.linia:after {
    position: absolute;
    background-color: #343a40;
    content: "";
    width: 10px;
    height: 10px;
    bottom: -66%;
    left: 50%;
    margin-left: -5px;
    border-radius: 50%;
}

.btn{
    margin-bottom: 1%;
    margin-right: 1%;
    border:none;
    background-color: unset;
    color: #37384A;
    border-radius: 30px !important;
    font-weight: 700 !important;
    position: relative;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all 0.5s ease 0s;
    z-index:1;
}
.btn:hover{
    color: #34464f;
    border-radius: 30px !important;
}
.btn:before{
    content: "";
    position: absolute;
    width: 101%;
    height: 100%;
    top: 0;
    left: -1px;
    background: #e2e3f1;
    border-radius: 30px !important;
    transform: scaleX(0);
    transition:all 0.5s ease-out 0s;
    transform-origin: 50% 50% 0;
    z-index: -1;
}
.btn:hover:before{
    transform: scaleX(1);
}